@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.swiper-button-next,
.swiper-button-prev {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  z-index: 10; /* Lower than the navbar's z-index */
}
select {
  -webkit-appearance: none; /* For WebKit browsers */
  -moz-appearance: none; /* For Mozilla browsers */
  appearance: none; /* Standard syntax */
}
.react-datepicker__input-container {
  position: unset !important;
}
.react-datepicker-wrapper {
  width: 100%;
}
.overflow-hidden {
  overflow: hidden;
}
/* styles/global.css */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}
.swiper {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
/* .category-swiper {
  padding: 20px 0;
} */

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category-name {
  margin-top: 10px;
  font-size: 16px;
}
.custom-rounded-skeleton {
  border-radius: 90px;
}
